.bundle
.DS_Store
.env
.envrc
npm-debug.log
.vscode/
*.rs.fmt
.ruby-version
.node-version
tags
.idea/
vendor/
*.out
.nuxt
*.o
*.hi

.editorconfig

.config/fish
!.config/fish/config.fish
!.config/fish/fishfile
